.wrapper {
  height: 100vh;
  background-color: antiquewhite;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 80%;
  height: 80%;
  position: relative;

  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 7px 1px #333;
}

.slider-container > .slides-container {
  height: 100%;
}

.slides-container > .slide {
  width: 100%;
  height: 100%;

  display: none;
}

.slides-container > .slide.active {
  display: block;
}

.slides-container > .slide > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.controls {
  position: absolute;
  top: 0;

  height: 100%;
  width: 10%;
  min-width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.controls.arrow-left {
  left: 0;
}

.controls.arrow-right {
  right: 0;
}
